app-transaction {
    width: 100%;
    height: auto;

    .wrapperTransaction {
        width: 100%;
        position: relative;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .designTransaction {
            height: 50px;
            width: 90%;
            background-color: #77B5FE;
        }
    }
}