app-accounts {


    div.wrapperAccounts {
        background-color: #77B5FE;
        height: 400px;
        width: 450px;
        position: relative;
        border-radius: 10px;
        padding: 10px;
        margin: 30px;
        -webkit-box-shadow: 0px 0px 118px -37px rgba(0, 0, 0, 0.79);
        -moz-box-shadow: 0px 0px 118px -37px rgba(0, 0, 0, 0.79);
        box-shadow: 0px 0px 118px -37px rgba(0, 0, 0, 0.79);

        a.wrapperAccount {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.2);
            padding: 30px;
            border-radius: 3px;
            //width: 120px;
            height: 100px;
            cursor: pointer;
            text-decoration: none;

            div.headerAccount {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                height: 100%;
                color: black;

                div.nameAccount {
                    font-size: 24px;
                }

                div.soldeAccount {
                    padding: 10px;
                    background-color: #77B5FE;
                    border-radius: 10px;
                }
            }
        }
    }
}