<div class="wrapperAccounts" *ngFor="let account of accounts">
  <!--   routerLink="/account/{{account.id}}" -->
  <a class="wrapperAccount">
    <div class="headerAccount">
      <div class="nameAccount">{{account.name}}</div>
      <div class="soldeAccount">{{account.solde | customEuro}}</div>
    </div>
  </a>
  <app-add-transaction [accountKey]="account.key"></app-add-transaction>
</div>

<!-- 
<div>
  <mat-form-field appearance="fill">
    <input matInput placeholder="name" [(ngModel)]="account.name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput placeholder="solde" [(ngModel)]="account.solde">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput placeholder="owner" [(ngModel)]="account.owner">
  </mat-form-field>

  <div (click)="create(account)" style="border:1px solid black;">Envoyer</div>
</div> -->