<div class="wrapperAddTransaction">
  <div class="wrapperInputAddTransaction" *ngIf="transaction">
    <div class="wrapperTitle">
      <span *ngIf="!transaction.isDepense">Ajout</span>
      <span *ngIf="transaction.isDepense">Retrait</span>
    </div>
    <div class="wrapperInput">
      <mat-form-field appearance="fill">
        <mat-label>Libellé</mat-label>
        <input matInput placeholder="Libellé" [(ngModel)]="transaction.name">
      </mat-form-field>
    </div>
    <div class="wrapperInput">
      <mat-form-field appearance="fill">
        <mat-label>Montant</mat-label>
        <input matInput placeholder="Combien ?" [(ngModel)]="transaction.solde">
      </mat-form-field>
    </div>
    <div class="wrapperInput">
      <mat-form-field appearance="fill">
        <mat-label>Date de transaction</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Date de transaction">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="wrapperButtonAddTransaction">
      <button (click)="addTransaction()">Ajouter</button>
    </div>
  </div>

</div>