app-add-transaction-dialog {
    background-color: red;
    width: 80vw;

    .wrapperInputAddTransaction {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .wrapperInput {
            width: 320px;

            mat-form-field.mat-form-field {
                width: 100%;
            }
        }
    }
}