app-add-transaction {
    div.wrapperInputTransaction {
        display: flex;
        margin-top: 40px;
        justify-content: center;

        div.wrapperButtonRemoveSolde {
            button.roundButtonLeftRemove {
                width: 60px;
                height: 60px;
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
                background-color: rgba(255, 255, 255, 0.2);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }

        div.wrapperInputMoney {}

        div.wrapperButtonAddSolde {
            button.roundButtonRightAdd {
                cursor: pointer;
                width: 60px;
                height: 60px;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
                background-color: rgba(255, 255, 255, 0.2);
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}