<div class="wrapperInputTransaction">
  <div class="wrapperButtonRemoveSolde">
    <button class="buttonNoBackground roundButtonLeftRemove" (click)="removeTransaction(this.accountKey)">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
  <div class="wrapperInputMoney">
    <mat-form-field appearance="fill" *ngIf="transaction">
      <input matInput placeholder="Combien ?" [(ngModel)]="transaction.solde">
    </mat-form-field>
  </div>
  <div class="wrapperButtonAddSolde">
    <button class="buttonNoBackground roundButtonRightAdd" (click)="addTransaction(this.accountKey)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>