.buttonNoBackground {
    background: none;
    border: none !important;
}

.buttonNoBackground:active {
    outline: none;
    border: none;
}

button:active {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}